[package]
name = "uniswap-sdk-core-rust"
version = "0.4.0"
edition = "2021"
authors = ["malik <aremumalik05@gmail.com>", "aurelhino <shuhuiluo>"]
description = "The Uniswap SDK Core in Rust provides essential functionality for interacting with the Uniswap decentralized exchange"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
alloy-primitives = "0.5.3"
eth_checksum = "0.1.2"
lazy_static = "1.4.0"
num-bigint = "0.4.4"
num-integer = "0.1.45"
num-rational = "0.4.1"
num-traits = "0.2.17"
regex = "1.10.2"
rust_decimal = "1.33.1"
rustc-hex = "2.1.0"
serde-value = "0.7.0"
sha3 = "0.10.8"
