[package]
name = "uniswap-sdk-core"
version = "0.19.0"
edition = "2021"
authors = ["malik <aremumalik05@gmail.com>", "Shuhui Luo <twitter.com/aureliano_law>"]
description = "The Uniswap SDK Core in Rust provides essential functionality for interacting with the Uniswap decentralized exchange"
license = "MIT"

[dependencies]
alloy-primitives = "0.6"
bigdecimal = "=0.4.2"
eth_checksum = { version = "0.1.2", optional = true }
lazy_static = "1.4"
num-bigint = "0.4.4"
num-integer = "0.1.45"
num-rational = "0.4.1"
num-traits = "0.2.17"
regex = { version = "1.10", optional = true }
syn = "2.0"
thiserror = "1.0"

[features]
validate_parse_address = ["eth_checksum", "regex"]

[lib]
doctest = true
